/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body, h1, h2, h3, p, figure {
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para la barra de navegación */
.naavbar {
    background-color: #333;
    overflow: hidden;
}

.naavbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Estilos para el encabezado */
.header {
    text-align: center;
    padding: 50px 0;
    background-color: #4CAF50;
    color: white;
}

/* Estilos para las secciones de contenido */
.content {
    padding: 40px 0;
}

/* Estilos para los cuadros de información */
.box-container {
    display: flex;
    justify-content: space-between;
}

.box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Estilos para las imágenes */
.imagen img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilos para los botones morados */
.btn-home a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8e44ad; /* Morado */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Estilos para el pie de página */
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}
